@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";

body {
    background: url(../_img/logo.png);
    background-color: #860000;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: center;
}

hr {
    color: #DF0000;
    border-color: #DF0000;
}

ul a {
    color: #040404;
    font-size: 12pt;
}

#main {
    padding: 0px 10px;
    padding-bottom: 3rem;
}

#main img {
    border: outset 3px #DF0000;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-height: 98%;
    max-width: 98%;
}

#main div {
    background: wheat;
    border: outset 3px #DF0000;
    box-shadow: 1px 1px 6px #040404;
    display: block;
    margin: 15px 15px 30px 15px;
    padding: 10px;
}

#main div h2 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 5px;
    padding: 0px 0px 0px 20px;
}

#main div p {
    font-size: 13pt;
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

#main div h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 20px;
}

#main a:hover {
    color: blue;
}